{% extends 'base.html' %}
{% load i18n %}

{% block title %}Update avatar | {{ SITE_TITLE }}{% endblock %}

{% block content %}
<div class="card mb-4">
    <h2 class="card-header">Update avatar</h2>
    <div class="card-body">
        <form method="post" novalidate action='.' class="mb-4" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'base_form.html' with form=form %}
            <button type="submit" class="btn btn-primary float-right" value={% trans 'Upload' %}>{% trans 'Upload' %}</button>
        </form>
    </div>
</div>
{% endblock content %}