{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load blog_extras %}

{% block content %}
    <div class="card mb-4">
        <h3 class="card-header">Profile</h3>
        <div class="card-body">
            <p class="card-text"><b>Username:</b> {{ user_profile.user.username}}</p>
            <p class="card-text"><b>Email:</b> {{ user_profile.user.email}}</p>
            <p class="card-text"><b>Password:</b> ********  <a href="{% url 'auth_password_change' %}" class="btn btn-primary" role="button" aria-pressed="true">{% trans "Change" %}</a></p>
            <p class="card-text"><b>Avatar:</b> {% if user_profile.avatar %}<img class="img-thumbnail user-avartar" src="{{ user_profile.avatar.url }}" alt="image">{% else %}<img src="{% static 'images/default_avatar.png' %}" class="img-thumbnail user-avartar" alt="image">{% endif %} <a href="{% url 'upload_avatar' %}" class="btn btn-primary" role="button">{% trans "Update" %}</a></p>

        </div>
    </div>
    {% if request.user|has_group:"writer" %}
        <a href="{% url 'blog:create_blog' %}" class="btn btn-primary" role="button">{% trans "Write a new post" %}</a>
        <a href="{% url 'blog:post_user_list' %}" class="btn btn-primary" role="button">{% trans "View my posts" %}</a>
    {% endif %}
{% endblock content %}