{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="card mb-4">
    <h2 class="card-header">Log in</h2>
    <div class="card-body">
        <form method="post" novalidate action='.' class="mb-4">
            {% csrf_token %}
            {% include 'base_form.html' with form=form %}
            <button type="submit" class="btn btn-primary" value={% trans 'Log in' %}>{% trans 'Log in' %}</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <a href="{% url 'registration_register' %}" class="btn btn-primary" role="button">{% trans "Register" %}</a>
        <a href="{% url 'auth_password_reset' %}" class="btn btn-primary" role="button">{% trans "Forgot password" %}</a>
    </div>
</div>
{% endblock %}