{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="card mb-4">
    <h3 class="card-header">Password reset</h3>
    <div class="card-body">

        {% if validlink %}
            <form method="post" action=".">
                {% csrf_token %}
                {% include 'base_form_account.html' with form=form %}
                <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
            </form>
        {% else %}
            <p>{% trans "Password reset failed. Not a valid link." %}</p>
            <p>Click <a class="color-theme-font" href="{% url 'blog:index' %}">here</a> to visit the home page.</p>
    </div>
</div>



{% endif %}

{% endblock %}
