{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="card mb-4">
    <h2 class="card-header">Registration</h2>
    <div class="card-body">
        <form method="post" novalidate action="." class="mb-4">
            {% csrf_token %}
            {% include 'base_form.html' with form=form %}
            <button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
        </form>

        <a href="{% url 'auth_login' %}" class="btn btn-primary" role="button">{% trans "Login" %}</a>
        <a href="{% url 'auth_password_reset' %}" class="btn btn-primary" role="button">{% trans "Forgot password" %}</a>
    </div>
</div>
{% endblock %}
