{% extends "base.html" %}
{% load i18n %}

{% block title %}Registration | {{ SITE_TITLE }}{% endblock %}

{% block content %}
<div class="card mb-4">
    <h2 class="card-header">Registration</h2>
    <div class="card-body">
        <p>{% trans "An activation email has been sent to your email address. Please use the link provided in the email to activate your account." %}</p>
        <p>Click <a class="color-theme-font" href="{% url 'blog:index' %}">here</a> to visit the home page.</p>
    </div>
</div>
{% endblock %}