/* theme color */
:root {
    --theme: #289CCB;
    --theme-analog-1: #2866CB;
    --theme-analog-2: #28CBC4;
    --theme-analog-3: #75C4E4;
    --theme-analog-4: #7A7A7A;
    --theme-analog-5: #000000;
    --theme-complementary: #CB5728;
    --theme-splitcomplementary-1: #CB284B;
    --theme-splitcomplementary-2: #CBA928;
}

/* background */
.color-theme {
    background-color: var(--theme);
}

/* general */

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.bgd-white {
    background-color: #fff
}

/* button */
.btn-primary {
    background-color: var(--theme);
    border-color: var(--theme);
}

.btn-primary:hover {
    background-color: var(--theme);
    border-color: var(--theme);
}

/* font color */
.color-theme-font {
    color: var(--theme);
}

/* link color */
a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--theme);
}

/* fixed navbar */
body {
    padding-top: 54px;
}

/* footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}

footer p {
    margin: 18px 0;
}

/* widget */
ul.list-widget {
    margin-bottom: 0;
    margin-left: -1rem;
}

p.text-widget {
    margin-top: 0;
    margin-bottom: 0;
}

p.align-right {
    text-align: right;
}

.tag-freq-10 {
    font-size: 1.3em;
}
.tag-freq-9 {
    font-size: 1.25em;
}
.tag-freq-8 {
    font-size: 1.2em;
}
.tag-freq-7 {
    font-size: 1.15em;
}
.tag-freq-6 {
    font-size: 1.1em;
}
.tag-freq-5 {
    font-size: 1.05em;
}
.tag-freq-4 {
    font-size: 1em;
}
.tag-freq-3 {
    font-size: 0.95em;
}
.tag-freq-2 {
    font-size: 0.9em;
}
.tag-freq-1 {
    font-size: 0.85em;
}
.tag-freq-0 {
    font-size: 0.8em;
}

/* comment */
ul.comment-root {
    visibility: hidden;
    list-style-type: none;
}

ul.comment-children {
    list-style-type: none;
    padding-top: 0px;
}

li.comment-list {
    padding: 0.25rem 0rem 0.25rem 0.25rem;
}

p.comment-header {
    margin-bottom: 0.25rem;
    font-size: 13px;
}

p.comment-text {
    margin-bottom: 0.25rem;
}

img.user-avartar {
    min-height: 40px;
    min-width: 40px;
    padding: 0px;
    margin: 0.1rem;
}

/* font-awesome */
.fa-theme {
    color: lightgray;
}

.fa-theme:hover {
    color: var(--theme);
}

.fa-color-green {
    color: green;
}

.fa-color-red {
    color: red;
}

.fa-color-gray {
    color: gray;
}

.fa-foot-icon {
    color: #dcdcdc;
}

/* form */
span.field-required{
    font-weight: bold;
}

.comment-form-reply {
    display: none;
}

/* pagination */
.page-item .page-link {
    color: var(--theme);
}

.page-item.active .page-link {
  color: #fff;
  background-color: var(--theme);
  border-color: var(--theme);
}

/* toc */
*[id]::before {
    display: block;
    content: " ";
    margin-top: -64px;
    height: 64px;
    visibility: hidden;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.sidebar-toc ul {
    list-style: none;
    padding-left: 1.5rem;
}

.sidebar-toc a {
    padding: 0.1rem;
    margin-bottom: 0.25rem;
    display: block;
}

.sidebar-toc .nav-link.active {
    background-color: var(--theme);
}

/* flex align */
.vcenter {
  display: flex;
  flex-direction: row;
}

.vcenter > [class^="col-"],
.vcenter > [class*=" col-"] {
  display: flex;
  align-items: center;
}

.hvcenter {
    display: flex;
    flex-direction: row;
}

.hvcenter > [class^="col-"],
.hvcenter > [class*=" col-"] {
    display: flex;
    align-items: center;
    /* align inner items horizontally inside the column */
    justify-content: center;
}

.hcenter-text {
    justify-content: center;
}

/* search */
span.highlighted {
    color: red;
}

/* table */
.border-row {
    border-top: 1px solid;
    border-top-color: rgba(0, 0, 0, 0.125);
}