{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="card mb-4">
    <h3 class="card-header">Delete post</h3>
    <div class="card-body">
        <form method="post" novalidate action='.'>
            {% csrf_token %}
            {% include 'base_form_account.html' with form=form %}
            <p>Are you sure you want to delete the post with title "{{ object }}"?</p>
            <button type="submit" class="btn btn-danger" name ="delete" value={% trans 'Delete' %} style="float: right;">{% trans 'Delete' %}</button>
        </form>
    </div>
</div>
{% endblock %}