{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Write a post | {{ SITE_TITLE }}{% endblock %}

{% block content %}
<div class="card mb-4">
    <h2 class="card-header">Write a post</h2>
    <div class="card-body">
        <form method="post" novalidate action='.'>
            {% csrf_token %}
            {% include 'base_form.html' with form=form %}
            <a href="{% url 'blog:category_create' %}?_to_field=id&_popup=1" id="add_category" class="btn btn-primary" role="button" onclick="$('form').attr('target', ''); return showAddPopup(this);">{% trans "Add category" %}</a>
            <a href="{% url 'blog:tag_create' %}?_to_field=id&_popup=1" id="add_tags" class="btn btn-primary" role="button" onclick="$('form').attr('target', '');return showAddPopup(this);">{% trans "Add tag" %}</a>
            <br><br>
            <button type="submit" class="btn btn-primary" name="publish" value={% trans 'Publish' %} onclick="$('form').attr('target', '');">{% trans 'Publish' %}</button>
            <button type="submit" class="btn btn-secondary" name ="draft" value={% trans 'Save' %} onclick="$('form').attr('target', '');">{% trans 'Save as draft' %}</button>
            <button type="submit" class="btn btn-secondary" name ="preview" value={% trans 'Preview' %} onclick="$('form').attr('target', '_blank');">{% trans 'Preview' %}</button>
            <button type="submit" class="btn btn-danger float-right" name ="discard" value={% trans 'Discard' %} onclick="$('form').attr('target', '');">{% trans 'Discard' %}</button>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/add_misc.js' %}"></script>
{% endblock %}