{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="card mb-4">
    <h3 class="card-header">Edit post</h3>
    <div class="card-body">
        <form method="post" novalidate action='.'>
            {% csrf_token %}
            {% include 'base_form.html' with form=form %}
            <a href="{% url 'blog:create_category' %}?_to_field=id&_popup=1" id="add_category" class="btn btn-primary" role="button" onclick="return showAddPopup(this);">{% trans "Add category" %}</a>
            <a href="{% url 'blog:create_tag' %}?_to_field=id&_popup=1" id="add_tags" class="btn btn-primary" role="button" onclick="return showAddPopup(this);">{% trans "Add tag" %}</a>
            <br><br>
            <button type="submit" class="btn btn-primary" name="publish" value={% trans 'Publish' %}>{% trans 'Publish' %}</button>
            <button type="submit" class="btn btn-secondary" name ="draft" value={% trans 'Save' %}>{% trans 'Save as draft' %}</button>
            <button type="submit" class="btn btn-danger" name ="delete" value={% trans 'Delete' %} style="float: right;">{% trans 'Delete' %}</button>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/add_misc.js' %}"></script>>
{% endblock %}