{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="card mb-4">
    <h3 class="card-header">Edit post</h3>
    <div class="card-body">
        <form method="post" novalidate action='.'>
            {% csrf_token %}
            {% include 'base_form.html' with form=form %}
            <a href="{% url 'blog:create_category' %}?_popup=1" id="add_category" class="btn btn-primary" role="button" onclick="return showAddPopup(this);">{% trans "Add category" %}</a>
            <a href="{% url 'blog:create_tag' %}" class="btn btn-primary" role="button">{% trans "Add tag" %}</a>
            <br><br>
            <button type="submit" class="btn btn-primary" name="publish" value={% trans 'Publish' %}>{% trans 'Publish' %}</button>
            <button type="submit" class="btn btn-secondary" name ="draft" value={% trans 'Save' %}>{% trans 'Save as draft' %}</button>
            <button type="submit" class="btn btn-danger" name ="delete" value={% trans 'Delete' %} style="float: right;">{% trans 'Delete' %}</button>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    function html_unescape(text) {
        // Unescape a string that was escaped using django.utils.html.escape.
        text = text.replace(/&lt;/g, '<');
        text = text.replace(/&gt;/g, '>');
        text = text.replace(/&quot;/g, '"');
        text = text.replace(/&#39;/g, "'");
        text = text.replace(/&amp;/g, '&');
        return text;
    }

    function windowname_to_id(text) {
        text = text.replace(/__dot__/g, '.');
        text = text.replace(/__dash__/g, '-');
        return text;
    }


    function showAddPopup(triggeringLink, pWin) {
        var name = triggeringLink.id.replace(/^add_/, '');
        href = triggeringLink.href;
        var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
        win.focus();
        return false;
    }

    function closeAddPopup(win, newID, newRepr) {
        newID = html_unescape(newID);
        newRepr = html_unescape(newRepr);
        var name = windowname_to_id(win.name);
        var elem = document.getElementById("id_"+name);
        if (elem) {
            if (elem.nodeName == 'SELECT') {
                var o = new Option(newRepr, newID);
                elem.options[elem.options.length] = o;
                o.selected = true;
            } else if (elem.nodeName == 'INPUT') {
                if (elem.className.indexOf('vManyToManyRawIdAdminField') != -1 && elem.value) {
                    elem.value += ',' + newID;
                } else {
                    elem.value = newID;
                }
            }
        } else {
            var toId = name + "_to";
            elem = document.getElementById(toId);
            var o = new Option(newRepr, newID);
            SelectBox.add_to_cache(toId, o);
            SelectBox.redisplay(toId);
        }

        win.close();
    }
</script>
{% endblock %}